<div class="container navigation">
  <div class="topbar mt-1">
    .
  </div>
  <div class="row">
    <div class="col-12 pt-3 pb-1">
      <div class="float-end">
        <% if account_signed_in? %>
        <div class="dropdown show">
          <a class="btn btn-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Welcome: <strong><%= current_account.full_name %></strong>
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= link_to "Profile", profile_path(current_account.username), class: "dropdown-item" %>
            <%= link_to "Settings", edit_account_registration_path, class: "dropdown-item" %>
            <%= link_to "Sign Out", destroy_account_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </div>

        <% else %>
          <%= link_to "Log In", new_account_session_path, class: "btn btn-outline-primary" %>
          <%= link_to "Sign Up", new_account_registration_path, class: "btn btn-primary" %>
        <% end %>
      </div>
        <a href="/"><img class="home-logo mb-1" src="https://logodownload.org/wp-content/uploads/2016/11/formula-1-logo-7.png" alt=""></a>
      <p class="navbar h5 mt-3 text-center link-light"><%= link_to "The Discussion Forum", public_index_path, class: "link-light" %> | <%= link_to "2021 Drivers", drivers_path, class: "link-light" %> | <%= link_to "2021 Circuits", tracks_path, class: "link-light" %></p>
    </div>

  </div>
</div>













<%#  %>
